.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20vh;
}

.contentsContainer {
	width: 80%;

	& > :first-child {
		margin-top: calc(var(--sp-17) * -1);
		margin-bottom: 30px;
		text-transform: capitalize;
	}
	word-break: keep-all;
}

@media (max-width: 480px) {
	.contentsContainer {
		width: 90%;
	}
}
