.editorChangeButton {
	background: none;
	width: 20px;
	height: 100%;
	border: 1px solid var(--cl-gray-500);
	border-radius: var(--rd-sm);
	cursor: pointer;

	& > svg {
		height: 100%;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.25;
	}
}

.headerSubContainer {
	display: flex;
	gap: 5px;
}

.effectActionButtonsContainer {
	display: flex;
	gap: 5px;
}
