.pageHeaderContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	position: relative;

	& > img {
		height: var(--sp-30);
		width: var(--sp-30);
		padding: var(--sp-1);
		border-radius: var(--rd-lg);
		box-shadow: 0px 0px 20px var(--cl-black-3);
		transition: 0.2s linear background;
		background-color: var(--cl-teal-900);

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
	& .pageTitle {
		font-size: var(--fs-6xl);
		color: var(--cl-gray-100);
		text-shadow: 0 0 6px var(--cl-gray-900);
		font-family: Inter;
		text-align: center;
	}
}

@media (max-width: 480px) {
	.pageHeaderContainer {
		gap: 0;

		& .pageTitle {
			font-size: var(--fs-4xl);
		}
	}
}

.titlesContainer {
	position: relative;
	display: flex;
	flex-direction: column;
}
.subTitleContainer {
	position: absolute;
	bottom: -25px;
	width: max-content;
}
