.profileButtonContainer {
	height: 32px;
	width: 32px;
}
.profileMenuTriggerButton {
	& img {
		border: 1px solid var(--cl-gray-200);
		border-radius: var(--rd-full);

		&:hover {
			box-shadow: 0 0 8px var(--cl-white);
		}
	}
}

.dropdownContent {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-right: 4px;
	width: 220px;
	border-radius: var(--rd-md);
	padding: 6px 6px 8px;

	background-color: var(--cl-gray-800);
	box-shadow: 0px 10px 38px -10px var(--black-2),
		0px 10px 20px -15px var(--black-1);

	animation: dropdownAnimation 0.5s cubic-bezier(0.16, 1, 0.3, 1);
	overflow: visible;
}

.dropdownItem {
	border-radius: var(--rd-sm);
	background-color: transparent;
	padding: 3px 5px;

	&:hover {
		background-color: var(--cl-gray-600);
	}

	&:focus {
		background-color: var(--cl-gray-600);
		outline: none;
	}
}

.dropdownArrow {
	fill: var(--cl-gray-800);
	filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.3));
}
.dropdownSeparator {
	background-color: var(--cl-gray-500);
	height: 1px;
	margin: 5px;
}

@keyframes dropdownAnimation {
	from {
		opacity: 0;
		transform: translateY(5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
