.profileButtonContainer {
	height: 32px;
	width: 32px;
}
.profileMenuTriggerButton {
	& img {
		border: 1px solid var(--cl-gray-200);
		border-radius: var(--rd-full);

		&:hover {
			box-shadow: 0 0 8px var(--cl-white);
		}
	}
}
