.dialogOverlay {
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;

	inset: 0;
	animation: overlayShow 350ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContainer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--cl-gray-900);
	border-radius: var(--fs-md);
	box-shadow: 0 0 20px var(--cl-black-1);

	width: 90vw;
	max-width: 500px;
	max-height: 85vh;
	padding: 20px;

	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

	&:focus {
		outline: none;
	}
}

.dialogTitle {
	margin: 0;
	color: var(--cl-gray-100);
	font-size: var(--fs-3xl);
}

.dialogDescription {
	color: var(--cl-gray-200);
	margin: 20px 0 20px 0;
	line-height: var(--lh-short);
}

.dialogButtonsContainer {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	gap: 25px;
}
.dialogButton {
	all: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--rd-md);
	padding: 3px 15px;
	user-select: none;

	&:focus:not(:focus-visible) {
		outline: 0;
	}

	&:focus {
		outline: 2px solid var(--cl-violet-500);
	}
	&:global(.red) {
		background-color: var(--cl-red-900);
		color: var(--cl-red-200);
		&:hover {
			background-color: var(--cl-red-800);
		}
		&:focus {
			outline: 2px solid var(--cl-red-600);
		}
	}
}

@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
