.notion2ColumnsContainer {
	display: flex;
	flex: 1;
	flex-direction: row;
	gap: var(--sp-1);
}

.leftColumContainer {
	display: flex;
	flex: 1;
	padding: var(--sp-2) 0 0 var(--sp-1);
	overflow: scroll;

	transition: 0.3s linear border;
	border-radius: var(--rd-md);
}
.rightColumContainer {
	display: flex;
	flex: 1;
	padding: var(--sp-2) var(--sp-1) 0 0;
	overflow: scroll;

	transition: 0.3s linear border;
	border-radius: var(--rd-md);
}

/* @media (max-width: 480px) { */
@media (max-width: 830px) {
	.notion2ColumnsContainer {
		flex-direction: column;
	}
}
