@keyframes slideIn {
	from {
		margin-left: calc(var(--sp-64) * -1);
	}
	to {
		margin-left: 0;
	}
}
@keyframes slideOut {
	0% {
		position: unset;
		height: 100vh;
		margin-left: 0;
		top: 0;
		transform: unset;
	}
	99% {
		position: unset;
		height: 100vh;
		margin-left: calc(var(--sp-64) * -1);
		transform: unset;
		top: 0;
	}
	100% {
		position: fixed;
		height: 75vh;
		margin-left: 0;
	}
}
@keyframes slideOutMobile {
	0% {
		height: 100vh;
		margin-left: 0;
		top: 0;
		transform: unset;
	}
	99% {
		height: 100vh;
		margin-left: calc(var(--sp-64) * -1);
		transform: unset;
		top: 0;
	}
	100% {
		height: 75vh;
		margin-left: 0;
	}
}

.sideBarActivationArea {
	position: fixed;
	left: 0;
	background-color: transparent;
	height: 75vh;
	top: 50%;
	transform: translateY(-50%);
	width: 7vw;
	border-top-right-radius: var(--rd-3xl);
	border-bottom-right-radius: var(--rd-full);

	&:hover {
		width: 25vw;
	}
	:root[data-active-sidebar="true"] & {
		display: none;
	}
}
.sideBarContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--cl-gray-800);
	border-right: 2px solid var(--cl-gray-700);
	padding: var(--sp-3);
	width: var(--sp-64);
	margin-left: calc(var(--sp-64) * -1);
	transition: 0.25s ease-out left;

	:root[data-active-sidebar="false"] & {
		position: fixed;
		border-top-right-radius: var(--rd-lg);
		border-bottom-right-radius: var(--rd-lg);
		height: 75vh;
		top: 50%;
		transform: translateY(-50%);
		margin-left: 0;
		left: calc(var(--sp-64) * -1);
		animation: slideOut 0.5s forwards;
		&:hover {
			left: 0;
		}
	}
	:root[data-active-sidebar="true"] & {
		position: unset;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		height: 100vh;
		left: 0;
		animation: slideIn 0.5s forwards;
	}
	:root:not([data-init-complete]) & {
		animation-duration: 0s;
	}
}

.sideBarActivationArea:hover ~ .sideBarContainer {
	left: 0;
}

@media (max-width: 480px) {
	:root[data-active-sidebar="true"] .sideBarContainer {
		position: fixed;
		z-index: 1;
	}
	:root[data-active-sidebar="false"] .sideBarContainer {
		animation: slideOutMobile 0.5s forwards;
		z-index: 1;
	}
}

.headerContainer {
	display: flex;
	flex-direction: row;
	border: 1px solid var(--cl-gray-600);
	padding: 5px;
	border-radius: var(--rd-md);
	background-color: var(--cl-gray-700);
	color: var(--cl-gray-100);

	& > div {
		margin: auto;
	}
	& img {
		margin: auto 0;
		border-radius: var(--rd-sm);
	}
}
.albinaTitle {
	text-align: center;
	font-size: var(--fs-xl);
	font-family: "Lucida Sans Unicode";
	line-height: 15px;
}

.activePageTitle {
	text-align: center;
	font-size: var(--fs-md);
	color: var(--cl-gray-200);
}
.footerContainer {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 5px;

	& a {
		text-decoration: none;
	}

	& div {
		background-color: var(--cl-gray-700);
		padding: var(--sp-1) var(--sp-2);
		border-radius: var(--rd-lg);
		display: flex;
		align-items: center;
		justify-content: center;

		& img {
			border-radius: var(--rd-xs);
			margin-right: 4px;
		}

		& a {
			font-size: var(--fs-md);
			color: var(--cl-gray-200);
		}
	}

	& footer {
		text-align: center;
		font-size: var(--fs-xs);
		color: var(--cl-gray-500);
	}
}

@media (max-width: 900) {
	.sideBarActivationArea {
		display: none;
	}
}
