.vttDiceResultViewContainer {
	position: relative;
	overflow: scroll;
	height: fit-content;
	max-height: 500px;
	min-height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 2px 5px black;
	flex-shrink: 0;
	background-color: var(--cl-gray-900);
	border: 2px solid var(--cl-gray-800);
	border-radius: var(--rd-md);
	animation: 0.5s ease-out slideFadeIn;
}

.centeredNumberResult {
	margin: auto;
	font-size: 35px;
	text-shadow: 2px 2px 8px black;
}

.diceExpression,
.centeredNumberNodesResults,
.diceAuthor,
.diceDatetime {
	position: absolute;
	padding: 0px 8px 1px 8px;
	overflow: hidden;
	background-color: var(--cl-gray-600);
	color: var(--cl-gray-300);
	max-height: 12px;
	font-size: var(--fs-xxs);
}

.diceExpression {
	bottom: 0px;
	left: 0px;
	max-width: 38%;
	border-top-right-radius: var(--rd-sm);
	&.multiIteration {
		max-width: 95%;
	}
}

.centeredNumberNodesResults {
	right: 0px;
	bottom: 0px;
	max-width: 60%;
	border-top-left-radius: var(--rd-sm);
}

.diceAuthor {
	left: 0px;
	top: 0px;
	max-width: 58%;
	border-bottom-right-radius: var(--rd-sm);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2px;
}
.diceAuthorImage {
	border-radius: var(--rd-full);
	width: 10px;
	height: 10px;
	overflow: hidden;
}

.diceDatetime {
	right: 0px;
	top: 0px;
	border-bottom-left-radius: var(--rd-sm);
}

.diceResultBackline {
	color: var(--cl-gray-300);
}

.resultsTable {
	margin: 14px 0 14px 0px !important;
	&,
	& * {
		font-size: var(--fs-sm);
		border-radius: 0 !important;
	}
}

@keyframes slideFadeIn {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
