.notionBulletContainer {
	display: flex;
	flex-direction: row;
	padding: 3px 0;
	margin: var(--sp-2) 0;
}

.beforeBullet {
	display: inline-block;
	width: 7px;
	height: 7px;
	min-width: 7px;
	min-height: 7px;
	margin: auto 15px;
	border-radius: var(--rd-sm);
}

.contentContainer {
	width: 100%;
	min-height: var(--fs-md);
}
