.sortableIndexedPagesGroupContainer {
	background-color: var(--cl-gray-700);
	border-radius: var(--rd-sm);

	& h6 {
		font-size: var(--fs-lg);
	}
}

.sortableIndexedPageLinksContainer {
	background-color: var(--cl-gray-800);
	border-radius: var(--rd-md);
	padding: 2px;
	word-break: break-all;
}
