.navBarContainer {
	position: sticky;
	z-index: 1;
	top: 0;
	background-color: var(--cl-black-3);
	border-bottom: 1px solid var(--cl-gray-700);
	padding: var(--sp-1) var(--sp-2) var(--sp-1) var(--sp-3);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--fs-sm);
	color: var(--cl-gray-100);
	min-height: 50px;
	/* max-height: 50px; */
}
.navSideContainer {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: var(--sp-2);
}

.profileButtonContainer {
	border-left: 1px solid var(--cl-gray-700);
	padding-left: 10px;
}
