.notionToggleContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2px;
}

.headerContainer {
	width: 100%;

	& > button {
		z-index: 0;
		background-color: transparent;
		display: flex;
		flex-direction: row;
		gap: 5px;
		border: 0;
		padding: 4px;
		width: 100%;
		align-items: center;

		& .toggleButtonContainer {
			flex: flex;
			width: 20px;
			height: 20px;
			padding-top: 3px;
			border-radius: var(--rd-sm);
			transition: 0.25s linear background;
			& svg {
				color: var(--cl-white);
				transition: 0.25s linear rotate;
			}
		}
		&:hover {
			cursor: pointer;
			& .toggleButtonContainer {
				background-color: var(--cl-gray-500);
			}
		}
	}
}

.contentContainer {
	margin-left: 25px;
	overflow: hidden;
	transition: 0.5s ease-in-out height, 0.5s ease-in-out max-height;
}
