.diceBonusRollerContainer {
	background: none;
	border: none;
	cursor: url("/general-assets/cursors/DiceCursor.png"), auto;
	display: block;
	border-radius: var(--rd-md);
	transition: 0.25s linear background-color;

	&:hover {
		background-color: var(--cl-gray-800);
	}
}
