.notionToggleContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: var(--sp-1);
	padding: 2px;
}

.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	width: 100%;

	& > button {
		z-index: 0;
		border: 0;
		border-radius: var(--rd-sm);
		background-color: transparent;
		width: 20px;
		height: 20px;
		transition: 0.25s linear background;
		font-size: 0;

		& > svg {
			color: var(--cl-white);
			transition: 0.25s linear rotate;
		}
		&:hover {
			background-color: var(--cl-gray-500);
		}
	}
}

.contentContainer {
	margin-top: var(--sp-1);
	margin-left: 25px;
}
