.loadingCircleContainer {
	display: flex;
	aspect-ratio: 1/1;
}

.loadingCircleSpan {
	width: 100%;
	height: 100%;
	border-radius: var(--rd-full);
	border: 3px solid var(--cl-gray-700);
	border-top: 5px solid var(--cl-gray-200);
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(260deg);
	}
	65% {
		transform: rotate(300deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
