.notionCalloutContainer {
	display: flex;
	flex-direction: column;
	padding: var(--sp-3) var(--sp-4) var(--sp-2);
	border: 2px solid var(--cl-gray-600);
	border-radius: var(--rd-md);
	margin-bottom: var(--sp-3);
	width: 100%;
}

.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin-bottom: var(--sp-2);
	width: 100%;
	& svg {
		width: 30px;
		height: 30px;
		border-radius: var(--rd-sm);
	}
	& > :nth-child(2) {
		width: 100%;
		font-size: var(--fs-lg);
	}
}

.titleArrayContainer {
	display: flex;
	flex-direction: row;
	margin-left: -40px;

	& div {
		display: flex;
		flex: 1;
		justify-content: center;
	}
}
