.styledLinkContainer {
	display: flexbox;
	border-radius: var(--rd-sm);
	background-color: var(--cl-gray-800);
	page-break-inside: avoid;

	& a {
		text-decoration: none;
		padding: var(--sp-1);
		display: flex;
		align-items: center;
		gap: 5px;
		color: var(--cl-gray-200);
		background-color: var(--cl-gray-800);
		border-color: transparent;
		border-radius: inherit;
		transition: 0.15s linear background-color;

		& img {
			border-radius: var(--rd-sm);
		}
		& span {
			display: inline;
			font-family: Inter;
			font-size: var(--fs-lg) !important;
		}
	}

	&:hover a {
		background-color: var(--cl-gray-700);
		color: var(--cl-gray-100);
	}
}

.styledLinkInTextMode {
	display: inline;

	& a {
		display: inline-flex;
		padding: 0 0.2rem 0 0.1rem;
		align-items: center;
		vertical-align: sub;
		gap: 0px;

		& img {
			height: 18px;
			width: 18px;
		}
		& span {
			font-size: var(--fs-md) !important;
		}
	}
}
