.columnContainer {
	width: 100%;
	height: fit-content;
}

.diceSetSelectorContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: var(--sp-2);
	height: fit-content;
}
.diceSetSelectorPreviewContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	height: 100%;
	position: relative;
	background-color: var(--cl-gray-900);
	border-radius: var(--rd-md);
}
