.locationLinkIconsDisplayContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.floatingIcon {
	position: absolute;
	width: 35px;
	height: 35px;
	transform: translate(-50%, -50%);

	& > img {
		position: unset !important;
		object-fit: contain;
		filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px white);
	}
}
