.simpleLeftHandContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	height: 100%;
	/* border: 1px solid red; */

	& > div > div > button {
		background-color: rgba(255, 255, 255, 0);
		border-radius: var(--rd-xl);
		transition: 0.25s linear background-color;
		border: none;

		&:hover {
			cursor: pointer;
			background-color: rgba(255, 255, 255, 0.05);
		}
	}
}

.form {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 15px;
	& > div {
		width: 100%;
	}
}
.resetButton {
	position: absolute;
	display: block;
	line-height: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px !important;
	height: 40px !important;
	border-radius: var(--rd-full);
	border: 1px solid var(--cl-gray-500);

	& img {
		background-color: none;
		margin-top: -1px;
		margin-left: -1px;
	}

	&:hover {
		background-color: var(--cl-gray-500);
		cursor: pointer;
	}
}

@media (max-width: 970px) {
	.simpleLeftHandContainer {
		width: 100%;
		height: 50%;

		& > div > div > button {
			width: 80px;
			height: 80px;
			& img {
				width: 80px;
				height: 80px;
			}
		}
		& > div > div {
			grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)) !important;
		}
	}
}
@media (max-height: 480px) {
	.simpleLeftHandContainer {
		height: 100%;

		& > div > div > button {
			width: 60px;
			height: 60px;
			& img {
				width: 60px;
				height: 60px;
			}
		}
	}
}
