.notionHorizontalTableContainer {
	overflow-x: scroll;
	width: 100%;
	max-width: 100%;
	background-color: var(--cl-gray-700);
	margin-bottom: var(--sp-2);
	border-radius: var(--rd-md);
	table-layout: fixed;

	& tbody tr {
		& th {
			background-color: var(--cl-gray-800);
			word-break: break-all;
			width: auto;
		}
		& td {
			padding: var(--sp-2);
			word-break: break-all;
			width: auto;
		}
	}
	& tr:first-child th {
		border-top-left-radius: var(--rd-md);
	}
	& tr:last-child th {
		border-bottom-left-radius: var(--rd-md);
	}
}

.notionVerticalTableContainer {
	width: 100%;
	max-width: 100%;
	overflow-x: scroll;
	background-color: var(--cl-gray-700);
	margin-bottom: var(--sp-2);
	border-radius: var(--rd-md);
	table-layout: fixed;

	& thead tr {
		& th {
			background-color: var(--cl-gray-800);
			padding: var(--sp-1);
			word-break: break-all;
		}
		& th:first-child {
			border-top-left-radius: var(--rd-md);
		}
		& th:last-child {
			border-top-right-radius: var(--rd-md);
		}
	}
	& tbody tr td {
		padding: var(--sp-1) var(--sp-2);
		word-break: break-all;
	}
}
