.carouselContainer {
	display: flex !important;
	width: 100% !important;
	&:hover {
		cursor: grab;
	}
	&:active {
		cursor: grabbing;
	}
}
.slideContainer {
	display: flex;
	justify-content: center;
}
