.broadcastViewerContainer {
	position: fixed;
	left: 20px;
	bottom: 85px;
	width: 50px;
	height: 50px;
	border-radius: var(--rd-full);
	z-index: 0;
	transition: 0.45s ease-out left;

	:root[data-active-sidebar="true"] & {
		left: calc(var(--sp-64) - 10px);
	}
}

.broadcastViewerTriggerButton {
	width: inherit;
	height: inherit;
	overflow: hidden;
	border: none;
	background: none;
	border-radius: inherit;
	&:hover {
		cursor: pointer;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	animation: 0.25s linear fade-in;
}

.content {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	min-width: 400px;
	width: 98vw;
	max-width: 3000px;
	max-height: 80vh;
	padding: var(--sp-1);
	background-color: var(--cl-gray-800);
	border-radius: var(--fs-md);
	border: 1px solid var(--cl-gray-600);
}

.closeButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	border-radius: var(--rd-full);
	background-color: var(--cl-gray-700);
	border-radius: var(--rd-full);
	overflow: hidden;
	border: none;
	cursor: pointer;
	& > img {
		width: 45px;
		height: 45px;
	}
}

@media (max-width: 900px) {
	.broadcastViewerContainer {
		width: 40px;
		height: 40px;
		bottom: 65px;
		left: 15px;
		& > button > img {
			width: 40px;
			height: 40px;
		}
	}
	.closeButton {
		width: 40px;
		height: 40px;
		& > img {
			width: 40px;
			height: 40px;
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
