.locationNavigationMapContainer {
	display: flex;
	width: 100%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
	border-radius: var(--rd-md);
	padding: var(--sp-2);
	background-color: var(--cl-gray-900);
}

.coreContainer {
	display: flex;
	position: relative;
	background-color: var(--cl-black-3);
	border-radius: var(--rd-md);
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.mapImage {
	border-radius: inherit;
	overflow: hidden;
	height: 100%;
	width: 100%;

	& > img {
		position: unset !important;
		object-fit: contain;
	}
}
