.globalContainer {
	position: fixed;
	display: flex;
	flex-direction: row-reverse;
	width: 100vw;
	height: 100vh;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	margin-left: 0;
	min-width: 0;
	width: 100%;
}

.pageContainer {
	position: relative;
	transition: 5s ease-out width;
	overflow: scroll;
	width: 100%;
	height: 100%;
}
