.globalContainer {
	display: flex;
	flex-direction: row;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	margin-left: var(--sp-52);
	transition: 0.25s ease-out margin;
}
@media (max-width: 480px) {
	.mainContainer {
		margin-left: 0;
	}
}
:root[data-hidden-sidebar="true"] .mainContainer {
	margin-left: 0;
}

.pageContainer {
	overflow: hidden;
}
