.trigger {
	border: none;
	background-color: transparent;
	color: unset;
}
.content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 70vw;
	min-width: 70vw;
	height: 75vh;
	min-height: 75vh;
	gap: var(--sp-2);
	overflow: hidden;
	padding: var(--sp-2) var(--sp-4);
}

.gridSwitch {
	position: absolute;
	top: -1px;
	right: -1px;
}

.footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 50px;
	justify-content: space-around;
}

.editButton {
	height: 100%;
	background-color: var(--cl-blue-900);
	color: var(--cl-blue-200);
	font-size: var(--fs-3xl);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--sp-10);
	border-radius: var(--rd-md);
	cursor: pointer;
	transition:
		0.25s linear background-color,
		0.25s linear color;

	&:hover {
		background-color: var(--cl-blue-700);
		color: var(--cl-blue-100);
	}
}
