.trigger {
	position: fixed;
	width: 60px;
	height: 60px;
	background-color: var(--cl-gray-800);
	border-radius: var(--rd-full);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	& svg {
		width: 35px;
		height: 35px;
	}
}

.insideVtt {
	bottom: 15px;
	right: 15px;
}
.outsideVtt {
	bottom: 80px;
	right: 15px;
}

.content {
	width: 90vw;
	max-width: 1728;
	height: 90vh;
	max-height: 972;
	overflow: hidden;
}
