.addNewUserAccessPermissionContainer {
	display: flex;
}
.addNewUserAccessPermissionButton {
	border: 3px solid var(--cl-blue-700);
	background-color: var(--cl-blue-700);
	color: var(--cl-blue-100);
	border-radius: var(--rd-md);
	font-weight: var(--fw-bold);
	font-family: Inter;
	padding: 10px;

	transition: 0.25s linear background-color, 0.25s linear border-color;

	&:hover {
		cursor: pointer;
		background-color: var(--cl-blue-600);
		border-color: var(--cl-blue-800);
	}
}
